<div class='fb-edit-section-header'>Field Id</div>

<div class='fb-common-wrapper'>
  <div class='fb-field-id'>
    <%= Formbuilder.templates['edit/field_id']() %>
  </div>
  <div class='fb-clear'></div>
</div>

<div class='fb-edit-section-header'>Label</div>

<div class='fb-common-wrapper'>
  <div class='fb-label-description'>
    <%= Formbuilder.templates['edit/label_description']() %>
  </div>
  <div class='fb-common-checkboxes'>
    <%= Formbuilder.templates['edit/checkboxes']() %>
  </div>
  <div class='fb-clear'></div>
</div>
